html {
      align-items: center;
      color: #313131;
      display: flex;
      font: 22px "Lucida Console", Monaco, monospace;
      height: 100%;
      justify-content: center;
      margin: 0;
    }

    body {

      display: flex;
      margin: 1em;
      padding: 1em;
    }

    h1 {
      font-size: 2em;
      grid-column: 1 / -1;
      margin: 0;
      text-align: center;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    a:focus,
    a:hover {
      color: #1d81b2;
    }

    nav {
      display: grid;
      grid-row-gap: 1em;
      grid-template-columns: 1fr 1fr; 
      margin: 0 1em;
      min-width: 24em;
      padding: 1em 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      text-align: center;
    }

    li:first-child {
      font-weight: bold;
      line-height: 2em;
    }

    img {
      border: 2px solid #313131;
      height: auto;
      object-fit: cover;
      object-position: 50% 100%;
      width: 8em;
    }
